@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0F172A;
    --muted: #f1f5f9;
    --muted-foreground: #64748b;
    --border: #e2e8f0;
    --ring: #3B82F6;
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }

  * {
    border-color: var(--border);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
